/* reset */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */

body {
	font: 16px/1.5 "Arial", Helvetica, sans-serif;
	color: #000;
}

section {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 240px;
	padding: 20px;
}

header {
	margin-bottom: 30px;
}

header a {
	display: block;
	width: 140px;
	text-decoration: none;
	color: #aaa;
}

header a span {
	position: relative;
	top: -15px;
}

img {
	display: block;
	max-width: 100%;
}

h2 {
	font-weight: 600;
	margin-top: 30px;
}

form {
	margin: 10px 0;
}

a:hover, a:focus {
	color: #222;
	text-decoration: none;
}

#map {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 240px;
}

@media only screen and (max-width: 600px) {

section {
	position: relative;
	width: 100%;
}

#map {
	position: relative;
	width: 100vw;
	height: 100vh;
	left: 0;
}


}